<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fogaccieri</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/nav.css">
        <link rel="stylesheet" href="../styles/blog-main.css">

        <link rel="stylesheet" href="../styles/blog-cards.scss">
            <!--favicon-->
                        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
                        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
                        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
                        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
                        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
                        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
                        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
                        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
                        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
                        <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
                        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
                        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
                        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
                        <link rel="manifest" href="favicon/manifest.json">
                        <meta name="msapplication-TileColor" content="#ffffff">
                        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
                        <meta name="theme-color" content="#ffffff">
</head>
<body>

    <!--navbar-->

    <header>
        <img class="logo" src="../images/logo.png" alt="Logo">
        <nav>
            <ul class="nav__links">
                <li><a href="index.html"><b>Home</b></a></li>
                <li><a href="cardapio.php"><b>Cardápio</b></a></li>
                <li><div class="sel"><a href="blog.html"><b>Blog</b></a></div></li>
            </ul>
        </nav>
        <a class="cta" href="parcerias.html"><button>Parcerias</button></a>
    </header>

        <div id="page-blog">
            <h1><b>Blog</b></h1>

            
            <div class="main">
                <div class="card">
                    <img src="../images/kitchen.jpg" alt="Cozinha"/>
                    <div class="container">
                        <h4><b>Conheça a nossa cozinha</b></h4>
                        <p>Sinta-se perto de nós, sinta-se Fogaccieri! Fizemos esta matéria com muito carinho para que os nossos clientes possam
                            conhecer a nossa cozinha e ver todo seu funcionamento através de nossos 
                            vídeos e de nossas imagens!
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="../images/donos-Mensa.jpg" alt="Entrevista"/>
                    <div class="container">
                        <h4><b>Entrevista com os donos da vinícola Mensa Seminterrata</b></h4>
                        <p>Gravamos uma conversa exclusiva com os donos da vinícola Mensa Seminterrata, 
                            e batemos um bom papo sobre a combinação de um bom vinho e de uma massa italiana de qualidade!
                        </p>
                    </div>
                </div>

            </div>

        </div>

  </body>
  </html>