<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fogaccieri</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/homezada.css">
        <link rel="stylesheet" href="../styles/nav.css">

            <!--favicon-->
                        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
                        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
                        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
                        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
                        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
                        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
                        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
                        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
                        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
                        <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
                        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
                        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
                        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
                        <link rel="manifest" href="favicon/manifest.json">
                        <meta name="msapplication-TileColor" content="#ffffff">
                        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
                        <meta name="theme-color" content="#ffffff">
</head>
<body>

    <!--navbar-->

    <header>
        <img class="logo" src="../images/logo.png" alt="Logo">
        <nav>
            <ul class="nav__links">
                <div class="items">
                <li><div class="sel"><a href="index-en.html"><b>Home</b></a></div></li>
                <li><a href="blog-en.html"><b>Blog</b></a></li>
                    <a class="flag" href="index.html">
                        <img src="../images/br-flag.png" >
                    </a>
                </div>
            </ul>
        </nav>
        <a class="cta" href="parcerias-en.html"><button>Partners</button></a>
    </header>

    <div id="page-home">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../images/img1crop.jpg" class="d-block w-100" alt="Massa">
                    </div>
                    <div class="carousel-item">
                        <img src="../images/img2crop.jpg" class="d-block w-100" alt="Banquete">
                    </div>
                    <div class="carousel-item">
                        <img src="../images/img3crop.jpg" class="d-block w-100" alt="Macarrão">
                    </div>
                </div>
            </div>
                      <div class="separator"></div>
                  <h1 style="text-align: center;">Who we are?</h1>
          <div class="page1">

                <img src=../images/spaghettiWheat.png alt="Macarrão"/>
                <div class="separatorvert"></div>
                <p>We're just common people, but we have a special job. We wish to 
                    bring the best of Italian cuisine, made in Brazil. Each ingredient is
                    specially choosen, each recipe was designed to achieve the peak of flavor.
                    We're the best pasta, we're Fogaccieri.
                </p>
          </div>

          <div class="separator2"></div>
            <h1 class="adms"> <b> Owners </b> </h1>
                <div class="ending">
                        <div class="descricao">
                                <img src="../images/joas.jpg">
                                    <h2> Jonas Accieri de Brito </h2>
                                <div class="social-networks"> 
                                    <a href="https://www.instagram.com/accieri_jonas/" target="_blank"><img src="../images/instagram.png"></a>
                                    <a href="https://www.linkedin.com/in/jonas-accieri-de-brito-b2b6901b6/" target="_blank"><img src="../images/linkedin.png"></a>
                                </div>
                        </div>

                        <div class="descricao">
                                <img src="../images/raff.jpg">
                                    <h2> Rafael Furigato Fogaça </h2>
                                <div class="social-networks"> 
                                    <a href="https://www.instagram.com/furigato/" target="_blank"><img src="../images/instagram.png"></a>
                                    <a href="https://www.linkedin.com/in/rafael-furigato-fogaça-83622a1b0/" target="_blank"><img src="../images/linkedin.png"></a>
                                </div>
                        </div>
                </div>

</body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>