<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fogaccieri</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/nav.css">
        <link rel="stylesheet" href="../styles/parcerias.css">
            <!--favicon-->
                        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
                        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
                        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
                        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
                        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
                        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
                        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
                        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
                        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
                        <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
                        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
                        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
                        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
                        <link rel="manifest" href="favicon/manifest.json">
                        <meta name="msapplication-TileColor" content="#ffffff">
                        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
                        <meta name="theme-color" content="#ffffff">
</head>
<body>

    <!--navbar-->

    <header>
        <img class="logo" src="../images/logo.png" alt="Logo">
        <nav>
            <ul class="nav__links">
                <li><a href="index.html"><b>Home</b></a></li>
                <li><a href="cardapio.php"><b>Cardápio</b></a></li>
                <li><a href="blog.html"><b>Blog</b></a></li>
            </ul>
        </nav>

        <a class="cta" href="parcerias.html"><button>Parcerias</button></a>
    </header>


    <div id ="partners-page">
    <h1> Empresas Parceiras </h1>

<div class="row">
    <img src=../images/machinima-crop.png alt="Machinima"/>
    <img src=../images/mensa-seminterrata-crop.png alt="Mensa Seminterrata"/>
    <img src=../images/mexifood-crop.png alt="MexiFood"/>
</div>

<div class="row">
    <img src=../images/allburguer-crop.png alt="Allburguer"/>
    <img src=../images/doce-acucarado-crop.png alt="Mensa Seminterrata"/>
    <img src=../images/infopizza-crop.png alt="MexiFood"/>
</div>

<div class="separator"></div>

    <div class="plano-de-negocios">
        <p> <b> Conheça o nosso <a href="plano.html"> plano de negócios </a> </b> </p>
    </div>

    </div>

</body>
</html>