<html lang="pt-br">
<head>
<title>Plano de Negócios</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 20.4px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1170:827" src="page_001.jpg" height="1170" width="827" border="0" usemap="#Map"></div>
<div class="pos" id="_118:101" style="top:101;left:118">
<span id="_15.0" style="font-weight:bold; font-family:Times New Roman; font-size:15.0px; color:#000000">
Rede de </span>
</div>
<div class="pos" id="_233:101" style="top:101;left:233">
<span id="_15.0" style="font-weight:bold; font-family:Times New Roman; font-size:15.0px; color:#000000">
Atividades-Chave </span>
</div>
<div class="pos" id="_381:101" style="top:101;left:381">
<span id="_15.0" style="font-weight:bold; font-family:Times New Roman; font-size:15.0px; color:#000000">
Proposta de Valor      Relacionamento com </span>
</div>
<div class="pos" id="_685:101" style="top:101;left:685">
<span id="_15.0" style="font-weight:bold; font-family:Times New Roman; font-size:15.0px; color:#000000">
Segmentos </span>
</div>
<div class="pos" id="_118:118" style="top:118;left:118">
<span id="_15.0" style="font-weight:bold; font-family:Times New Roman; font-size:15.0px; color:#000000">
Parceiros </span>
</div>
<div class="pos" id="_519:118" style="top:118;left:519">
<span id="_15.0" style="font-weight:bold; font-family:Times New Roman; font-size:15.0px; color:#000000">
Clientes </span>
</div>
<div class="pos" id="_685:118" style="top:118;left:685">
<span id="_15.0" style="font-weight:bold; font-family:Times New Roman; font-size:15.0px; color:#000000">
de Clientes</span>
</div>
<div class="pos" id="_118:137" style="top:137;left:118">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Machinima </span>
</div>
<div class="pos" id="_233:137" style="top:137;left:233">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Venda de pratos e </span>
</div>
<div class="pos" id="_381:137" style="top:137;left:381">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Atendimento de </span>
</div>
<div class="pos" id="_519:137" style="top:137;left:519">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Atendimento durante </span>
</div>
<div class="pos" id="_685:137" style="top:137;left:685">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Todo cliente </span>
</div>
<div class="pos" id="_118:155" style="top:155;left:118">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
Podcast, </span>
</div>
<div class="pos" id="_233:155" style="top:155;left:233">
<span id="_13.8" style=" font-family:Arial; font-size:13.8px; color:#000000">
massas em geral </span>
</div>
<div class="pos" id="_381:155" style="top:155;left:381">
<span id="_13.8" style=" font-family:Arial; font-size:13.8px; color:#000000">
qualidade e </span>
</div>
<div class="pos" id="_519:155" style="top:155;left:519">
<span id="_13.8" style=" font-family:Arial; font-size:13.8px; color:#000000">
todo o hor&#225;rio de </span>
</div>
<div class="pos" id="_685:155" style="top:155;left:685">
<span id="_13.8" style=" font-family:Arial; font-size:13.8px; color:#000000">
que deseja </span>
</div>
<div class="pos" id="_118:174" style="top:174;left:118">
<span id="_13.8" style=" font-family:Arial; font-size:13.8px; color:#000000">
Vin&#237;cola Mensa </span>
</div>
<div class="pos" id="_233:174" style="top:174;left:233">
<span id="_13.8" style=" font-family:Arial; font-size:13.8px; color:#000000">
atrav&#233;s do website </span>
</div>
<div class="pos" id="_381:174" style="top:174;left:381">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
durante todo o </span>
</div>
<div class="pos" id="_519:174" style="top:174;left:519">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
funcionamento, das 18h  experimentar </span>
</div>
<div class="pos" id="_118:192" style="top:192;left:118">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Seminterrata, </span>
</div>
<div class="pos" id="_233:192" style="top:192;left:233">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
da empresa.</span>
</div>
<div class="pos" id="_381:192" style="top:192;left:381">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
hor&#225;rio de </span>
</div>
<div class="pos" id="_519:192" style="top:192;left:519">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
&#224;s 23h30.</span>
</div>
<div class="pos" id="_685:192" style="top:192;left:685">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
um prato de </span>
</div>
<div class="pos" id="_118:211" style="top:211;left:118">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Mexifood, All </span>
</div>
<div class="pos" id="_381:211" style="top:211;left:381">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
funcionamento. </span>
</div>
<div class="pos" id="_519:211" style="top:211;left:519">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Contato atrav&#233;s do </span>
</div>
<div class="pos" id="_685:211" style="top:211;left:685">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
primeira da </span>
</div>
<div class="pos" id="_118:230" style="top:230;left:118">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Burguer, Doce </span>
</div>
<div class="pos" id="_381:230" style="top:230;left:381">
<span id="_13.7" style=" font-family:Arial; font-size:13.7px; color:#000000">
Servi&#231;o de </span>
</div>
<div class="pos" id="_519:230" style="top:230;left:519">
<span id="_13.7" style=" font-family:Arial; font-size:13.7px; color:#000000">
website da empresa, </span>
</div>
<div class="pos" id="_685:230" style="top:230;left:685">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
gastronomia </span>
</div>
<div class="pos" id="_118:248" style="top:248;left:118">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
a&#231;ucarado, Info </span>
</div>
<div class="pos" id="_381:248" style="top:248;left:381">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
qualidade, pratos e </span>
</div>
<div class="pos" id="_519:248" style="top:248;left:519">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
com a possibilidade de </span>
</div>
<div class="pos" id="_685:248" style="top:248;left:685">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
italiana e </span>
</div>
<div class="pos" id="_118:267" style="top:267;left:118">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
Pizza.</span>
</div>
<div class="pos" id="_381:267" style="top:267;left:381">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
produtos com </span>
</div>
<div class="pos" id="_519:267" style="top:267;left:519">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
tirar d&#250;vidas ou </span>
</div>
<div class="pos" id="_685:267" style="top:267;left:685">
<span id="_13.5" style=" font-family:Arial; font-size:13.5px; color:#000000">
massas ao </span>
</div>
<div class="pos" id="_381:286" style="top:286;left:381">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
garantida da </span>
</div>
<div class="pos" id="_519:286" style="top:286;left:519">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
conversar com </span>
</div>
<div class="pos" id="_685:286" style="top:286;left:685">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
todo.</span>
</div>
<div class="pos" id="_381:304" style="top:304;left:381">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
melhor </span>
</div>
<div class="pos" id="_519:304" style="top:304;left:519">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
funcion&#225;rios do </span>
</div>
<div class="pos" id="_381:323" style="top:323;left:381">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
experi&#234;ncia.</span>
</div>
<div class="pos" id="_519:323" style="top:323;left:519">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
estabelecimento.</span>
</div>
<div class="pos" id="_233:367" style="top:367;left:233">
<span id="_14.7" style="font-weight:bold; font-family:Times New Roman; font-size:14.7px; color:#000000">
Recursos-Chave</span>
</div>
<div class="pos" id="_519:367" style="top:367;left:519">
<span id="_14.7" style="font-weight:bold; font-family:Times New Roman; font-size:14.7px; color:#000000">
Canais de Distribui&#231;&#227;o</span>
</div>
<div class="pos" id="_233:385" style="top:385;left:233">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
Produtos e </span>
</div>
<div class="pos" id="_519:385" style="top:385;left:519">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
Website oficial do </span>
</div>
<div class="pos" id="_233:404" style="top:404;left:233">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
ingredientes </span>
</div>
<div class="pos" id="_519:404" style="top:404;left:519">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
restaurante, outdoors, </span>
</div>
<div class="pos" id="_233:423" style="top:423;left:233">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
fornecidos pelos </span>
</div>
<div class="pos" id="_519:423" style="top:423;left:519">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
redes sociais da </span>
</div>
<div class="pos" id="_233:441" style="top:441;left:233">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
parceiros, pessoal de </span>
</div>
<div class="pos" id="_519:441" style="top:441;left:519">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
empresa tais como </span>
</div>
<div class="pos" id="_233:460" style="top:460;left:233">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
manuten&#231;&#227;o e </span>
</div>
<div class="pos" id="_519:460" style="top:460;left:519">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
Instagram, Twitter e </span>
</div>
<div class="pos" id="_233:479" style="top:479;left:233">
<span id="_13.9" style=" font-family:Arial; font-size:13.9px; color:#000000">
atualiza&#231;&#227;o do site, </span>
</div>
<div class="pos" id="_519:479" style="top:479;left:519">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
WhatsApp.</span>
</div>
<div class="pos" id="_233:497" style="top:497;left:233">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
funcion&#225;rios para o </span>
</div>
<div class="pos" id="_233:516" style="top:516;left:233">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
atendimento ao </span>
</div>
<div class="pos" id="_233:535" style="top:535;left:233">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
cliente e entrega dos </span>
</div>
<div class="pos" id="_233:553" style="top:553;left:233">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
pratos, al&#233;m de </span>
</div>
<div class="pos" id="_233:572" style="top:572;left:233">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
chefes de qualidade </span>
</div>
<div class="pos" id="_233:590" style="top:590;left:233">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
garantida.</span>
</div>
<div class="pos" id="_118:610" style="top:610;left:118">
<span id="_14.8" style="font-weight:bold; font-family:Times New Roman; font-size:14.8px; color:#000000">
Estrutura de Custos</span>
</div>
<div class="pos" id="_440:610" style="top:610;left:440">
<span id="_14.8" style="font-weight:bold; font-family:Times New Roman; font-size:14.8px; color:#000000">
Fluxo de Receitas</span>
</div>
<div class="pos" id="_118:628" style="top:628;left:118">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Manuten&#231;&#227;o constante do website;</span>
</div>
<div class="pos" id="_440:628" style="top:628;left:440">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Por cada prato ou produto vendido para o cliente;</span>
</div>
<div class="pos" id="_118:647" style="top:647;left:118">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Parcerias que envolvem dinheiro al&#233;m de </span>
</div>
<div class="pos" id="_440:647" style="top:647;left:440">
<span id="_14.3" style=" font-family:Arial; font-size:14.3px; color:#000000">
Pagamento via cart&#227;o de cr&#233;dito e bancos digitais;</span>
</div>
<div class="pos" id="_118:665" style="top:665;left:118">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
produtos;</span>
</div>
<div class="pos" id="_440:665" style="top:665;left:440">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
Qualidade dos produtos gerando divulga&#231;&#227;o por </span>
</div>
<div class="pos" id="_118:684" style="top:684;left:118">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
Contrata&#231;&#227;o de funcion&#225;rios para atendimento e </span>
</div>
<div class="pos" id="_440:684" style="top:684;left:440">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
parte dos clientes, al&#233;m de divulga&#231;&#227;o bem-sucedida </span>
</div>
<div class="pos" id="_118:703" style="top:703;left:118">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
chefes de cozinha de qualidade;</span>
</div>
<div class="pos" id="_440:703" style="top:703;left:440">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
nas redes sociais. </span>
</div>
<div class="pos" id="_118:721" style="top:721;left:118">
<span id="_14.1" style=" font-family:Arial; font-size:14.1px; color:#000000">
Investimento em intera&#231;&#245;es nas redes sociais. </span>
</div>
</nowrap></nobr>
</body>
</html>
